* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

/*                                 HIRING BAR                            */
.hire-top {
    text-align: center;
    font-family: inherit;;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    padding: .5rem;
    background-color: #6cc0ff;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.hire-top p a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.hire-top > p {
    margin: 0 auto;
}

/*                                NAVIGATION:                             */
header {
    width: auto;
    height: 100px;
    background-color: #fff;
    padding: 1vw;
}

nav > ul > li {
    display: inline-block;
    float:left;
    margin-left: 10px;
    color: #000;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.5em;
    font-weight: 200;
}

/*                                 HERO HEADER                            */
.head_container {
    width: auto;
    overflow: hidden;
    background-color: beige;
    padding: 2vw;
}

.head_wrapper {
    width: 76vw;
    margin: 0 auto;
}

.head_wrapper .text {
    margin: 4vw 0 4vw 0;
    float: left;
}

.text h1 {
    font-family: inherit;
    font-size: 5rem;
    font-weight: 400;
    color: steelblue;
    margin: 0 0 0 1vw;
}

.text h2 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 200;
    color: darkgrey;
    margin: 0 0 0 1.3vw;
}

.head_wrapper .img {
    display: inline-block;
    float: right;
}

.wrk_flw p {
    position: absolute;
    top: 25vw;
    right: 6vw;
    font-size: 1.2rem;
    font-weight: 600;
}
