* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

/*                                 HIRING BAR                            */
.hire-top {
    text-align: center;
    font-family: inherit;;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    padding: .5rem;
    background-color: #6cc0ff;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.hire-top p a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.hire-top > p {
    margin: 0 auto;
}

/*                                NAVIGATION:                             */
header {
    width: auto;
    height: 75px;
    background-color: #fff;
    padding: 1vw;
}

nav > ul > li {
    display: inline-block;
    float:left;
    margin-left: 80px;
    color: #000;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 200;
    line-height: 3em;
}

nav > ul {
    margin: 0;
}

/*                                 HERO HEADER                            */
.head_container {
    width: auto;
    overflow: hidden;
    background-color: beige;
    padding: 2vw;
}

.head_wrapper {
    width: 76vw;
    margin: 0 auto;
}

.head_wrapper .text {
    margin: 4vw 0 4vw 0;
    float: left;
}

.text h1 {
    font-family: inherit;
    font-size: 5rem;
    font-weight: 400;
    color: steelblue;
    margin: 0 0 0 1vw;
}

.text h2 {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 200;
    color: darkgrey;
    margin: 0 0 0 1.3vw;
}

.head_wrapper .img {
    display: inline-block;
    float: right;
}

/*                                WORKFLOW              */
.wrk_flw p {
    position: absolute;
    top: 30vw;
    right: 6vw;
    font-size: 1.2rem;
    font-weight: 400;
}

.wrk_flw > img {
    display: inline-block;
    float: left;
}

/*                            CONTENT:                 */
.sec_wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

article {
    width: 65%;
    float: left;
}

aside {
    width: 35%;
    height: 100vh;
    float: right;
    background-color: whitesmoke;
}

article > h2, aside > h2 {
    font-weight: 400;
    font-style: normal;
    color: #aaa;
}
